<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assects/css/style.css">
    <link rel="stylesheet" href="accsets/font/themify-icons-font/themify-icons/themify-icons.css">
    <script src="https://kit.fontawesome.com/4d0a41491c.js" crossorigin="anonymous"></script>
    <title>N1Bikerent</title>
</head>
<body>
        <div class="banner-section">
            <div class="container">
                <div class="background">
                    <h1 style="font-size: 3rem; margin-left: 100px;" class="background__title text-center">Chính sách & Quy định</h1>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 50px;" class="tutorial-page">
            <div class="container">
                <div class="tutorial-content">
                    <div class="category-option">
                        <h1 style="text-align: center;font-size: 70px;" class="title">Chính sách bảo mật</h1>
                    </div>
                    <div>
                        <h2 style="font-size: 40px;"> 1. Giới thiệu</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            "Dữ Liệu Cá Nhân" có nghĩa là dữ liệu, dù đúng hay không, về một cá nhân mà thông qua đó có thể xác định được danh tính, hoặc từ dữ liệu đó và thông tin khác mà một tổ chức có hoặc có khả năng tiếp cận. Các ví dụ thường gặp về dữ liệu cá nhân có thể gồm có tên, số chứng minh nhân dân/căn cước công dân, mã số thuế, giấy phép lái xe và thông tin liên hệ.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">
                            Chính sách bảo mật này ("Chính sách bảo mật" hay "Chính sách") được thiết kế để giúp bạn hiểu được cách thức chúng tôi thu thập, sử dụng, tiết lộ và/hoặc xử lý dữ liệu cá nhân mà bạn đã cung cấp cho chúng tôi và/hoặc lưu giữ về bạn, cho dù là hiện nay hoặc trong tương lai, cũng như để giúp bạn đưa ra quyết định sáng suốt trước khi cung cấp cho chúng tôi bất kỳ dữ liệu cá nhân nào của bạn.
                            <br>
                            Bằng việc sử dụng Các Dịch Vụ, đăng ký tài khoản với chúng tôi hoặc truy cập Nền tảng, bạn xác nhận và đồng ý rằng bạn chấp nhận các phương pháp, yêu cầu, và/hoặc chính sách được mô tả trong Chính sách bảo mật này, và theo đây bạn đồng ý cho phép chúng tôi thu thập, sử dụng, tiết lộ và/hoặc xử lý dữ liệu cá nhân của bạn như mô tả trong đây. Việc cho phép này sẽ có hiệu lực và bắt đầu từ thời điểm bạn đồng ý cho đến khi bạn quyết định rút lại sự đồng ý hoặc tự động kết thúc trong các trường hợp theo quy định của pháp luật.
                            <br>
                            Nếu bạn không đồng ý cho phép xử lý dữ liệu của bạn theo quy định này, vui lòng không sử dụng các dịch vụ của chúng tôi hoặc truy cập nền tảng của chúng tôi hoặc thông báo ngay cho chúng tôi về việc không đồng ý của bạn trong trương hợp bạn đã đồng ý trước đó.
                            <br>
                            Nếu có bất kỳ thay đổi nào về Chính sách bảo mật của mình, chúng tôi sẽ thông báo cho bạn bao gồm cả thông qua việc đăng tải những thay đổi đó hoặc Chính sách bảo mật sửa đổi trên Nền tảng của chúng tôi. Trong phạm vi pháp luật cho phép, việc tiếp tục sử dụng các Dịch Vụ hoặc Nền Tảng, bao gồm giao dịch của bạn, được xem là bạn đã công nhận và đồng ý với các thay đổi trong Chính Sách Bảo Mật này.
                            <br>
                            Chính sách này áp dụng cùng với các thông báo, điều khoản hợp đồng, điều khoản chấp thuận khác áp dụng liên quan đến việc chúng tôi thu thập, lưu trữ, sử dụng, tiết lộ và/hoặc xử lý dữ liệu cá nhân của bạn và không nhằm ghi đè những thông báo hoặc các điều khoản đó trừ khi chúng tôi có tuyên bố ràng khác.
                            <br>
                            Chính sách này được áp dụng cho tất cả người dùng đang sử dụng Dịch vụ/Nền tảng trừ khi có tuyên bố rõ ràng ngược lại.
                        </p>
                        <h2 style="font-size: 40px;"> 2. Khi nào N1bikerent sẽ thu thập dữ liệu cá nhân?</h2>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">
                            Chúng tôi sẽ/có thể thu thập dữ liệu cá nhân về bạn:
                        </p>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">bạn đăng ký và/hoặc sử dụng Các Dịch Vụ hoặc Nền tảng của chúng tôi;</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">hi bạn gửi bất kỳ biểu mẫu nào, bao gồm đơn đăng ký hoặc các mẫu đơn khác liên quan đến bất kỳ sản phẩm và dịch vụ nào của chúng tôi, bằng hình thức trực tuyến hay dưới hình thức khác;</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Khi bạn thực hiện các giao dịch thông qua Dịch vụ của chúng tôi;</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Khi bạn cung cấp ý kiến phản hồi hoặc gửi khiếu nại cho chúng tôi;</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Khi bạn gửi dữ liệu cá nhân của bạn cho chúng tôi vì bất kỳ lý do gì.Các trường hợp trên không nhằm mục đích liệt kê đầy đủ các trường hợp và chỉ đưa ra một số trường hợp phổ biến về thời điểm dữ liệu cá nhân của bạn có thể bị thu thập.</li>
                        <h2 style="font-size: 40px;"> 3. N1bikerent có tiết lộ thông tin của người dùng không?</h2>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Trong quá trình thực hiện hoạt động kinh doanh, chúng tôi sẽ/có thể cần phải sử dụng, xử lý, tiết lộ và/hoặc chuyển giao dữ liệu cá nhân của bạn cho bên thứ ba bao gồm nhưng không giới hạn: cơ quan nhà nước có thẩm quyền, các công ty liên kết hoặc liên quan của chúng tôi,… việc tiết lộ này sẽ được thực hiện theo đúng trình tự và quy định của pháp luật hiện hành. Chúng tôi cố gắng đảm bảo rằng các bên thứ ba này giữ an toàn cho dữ liệu cá nhân của bạn khỏi bị truy cập, thu thập, sử dụng, tiết lộ, xử lý trái phép hoặc các rủi ro tương tự và chỉ lưu giữ dữ liệu cá nhân của bạn miễn là dữ liệu cá nhân của bạn vẫn còn cần thiết cho những việc nêu trên.</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Để tránh nghi ngờ, trong trường hợp các quy định của pháp luật về bảo vệ bí mật thông tin cá nhân hoặc các điều luật hiện hành khác cho phép một tổ chức chẳng hạn như chúng tôi thu thập, sử dụng hoặc tiết lộ dữ liệu cá nhân của bạn mà không cần sự đồng ý của bạn, sự cho phép như thế của pháp luật sẽ tiếp tục áp dụng. Phù hợp với các quy định nêu trên và theo các quy định của pháp luật hiện hành, chúng tôi có thể sử dụng dữ liệu cá nhân của bạn cho các cơ sở pháp lý đã được công nhận, bao gồm tuân thủ các nghĩa vụ pháp lý của chúng tôi, để thực hiện hợp đồng của chúng tôi với bạn, để đạt được lợi ích hợp pháp và lý do của chúng tôi để sử dụng dữ liệu đó cao hơn bất kỳ phương hại nào đến quyền bảo vệ dữ liệu của bạn hoặc khi cần thiết liên quan với một yêu cầu pháp lý.</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Các bên bất hợp pháp (tin tặc) có thể chặn hoặc truy cập trái phép dữ liệu cá nhân có trên trang web, nền tảng của chúng tôi có thể hoạt động không chính xác hoặc không hoạt động như dự kiến, hoặc có người có thể truy cập, lạm dụng hoặc sử dụng sai trái thông tin mà không phải lỗi của chúng tôi. Tuy nhiên chúng tôi sẽ triển khai các biện pháp bảo mật hợp lý để bảo vệ dữ liệu cá nhân của bạn theo quy định của các quy định của pháp luật về bảo vệ bí mật thông tin cá nhân; tuy nhiên không thể đảm bảo sự bảo mật tuyệt đối chẳng hạn như trường hợp tiết lộ trái phép phát sinh từ hoạt động tin tặc vì ý đồ xấu hoặc hành vi tấn công tinh vi bởi kẻ xấu mà không phải lỗi của chúng tôi.</li>
                        <h2 style="font-size: 40px;"> 4. Cách N1bikerent lưu trữ, bảo vệ thông tin người dùng và những cảnh báo rủi ro</h2>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Chúng tôi thực hiện các biện pháp bảo mật khác nhau và luôn nỗ lực để đảm bảo sự an toàn của dữ liệu cá nhân của bạn trên các hệ thống của chúng tôi. Dữ liệu cá nhân của người dùng được lưu trữ đằng sau các mạng bảo mật và chỉ có thể được truy cập bởi một số nhân viên có quyền truy cập đặc biệt đến các hệ thống của chúng tôi. Tuy nhiên, chắc chắn không thể có sự đảm bảo an ninh tuyệt đối.</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, N1bikerent sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">N1bikerent yêu cầu các cá nhân khi đăng ký là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, chứng minh nhân dân/căn cước công dân, giấy phép lái xe ô tô, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. N1bikerent không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Thời gian lưu trữ thông tin: Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ, còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của N1bikerent</li>
                        <h2 style="font-size: 40px;"> 5. Cookies</h2>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Đôi khi chúng tôi hoặc các nhà cung cấp dịch vụ được cho phép và các đối tác quảng cáo của chúng tôi có thể sử dụng "cookie" hoặc các tính năng khác để cho phép chúng tôi hoặc các bên thứ ba thu thập hoặc chia sẻ thông tin liên quan đến việc sử dụng của bạn đối với Dịch vụ hoặc Nền tảng của chúng tôi. Các tính năng này sẽ giúp chúng tôi cải thiện Nền tảng và Các Dịch Vụ chúng tôi cung cấp, giúp chúng tôi đề xuất các dịch vụ và tính năng mới, và/hoặc cho phép chúng tôi và các đối tác quảng cáo của chúng tôi cung cấp các nội dung có liên quan hơn đến bạn. "Cookie" là các mã danh định được lưu trữ trên máy tính hoặc thiết bị di động của bạn lưu trữ các dữ liệu về máy tính hoặc thiết bị, bằng cách nào và khi nào Các Dịch Vụ hoặc Nền tảng được sử dụng hay truy cập, bởi bao nhiêu người và để theo dõi những hoạt động trong Các Nền tảng của chúng tôi. Chúng tôi có thể liên kết thông tin cookie với dữ liệu cá nhân. Cookie cũng liên kết với thông tin về những nội dung bạn đã chọn để mua sắm và các trang web mà bạn đã xem. Thông tin này được sử dụng để theo dõi giỏ hàng, để chuyển tải nội dung phù hợp với sở thích của bạn, để cho phép các đối tác cung cấp dịch vụ quảng cáo cung cấp dịch vụ quảng cáo trên các trang thông qua mạng Internet và để thực hiện phân tích dữ liệu và hoặc theo dõi việc sử dụng Dịch vụ</li>
                        <li style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;">Bạn có thể từ chối sử dụng cookie bằng cách chọn các thiết lập thích hợp trên trình duyệt hoặc thiết bị của bạn. Tuy nhiên, vui lòng lưu ý rằng nếu bạn thực hiện thao tác này bạn có thể không sử dụng được các chức năng đầy đủ của Nền tảng hoặc Các Dịch Vụ của chúng tôi.</li>
                    </div>
                </div>
            </div>
        </div>
        
</body>
</html>