<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assects/css/style.css">
    <link rel="stylesheet" href="accsets/font/themify-icons-font/themify-icons/themify-icons.css">
    <script src="https://kit.fontawesome.com/4d0a41491c.js" crossorigin="anonymous"></script>
    <title>N1Bikerent</title>
</head>
<body>
        <div class="banner-section">
            <div class="container">
                <div class="background">
                    <h1 style="font-size: 3rem; margin-left: 100px;" class="background__title text-center">Hướng dẫn & Quy chế</h1>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 50px;" class="tutorial-page">
            <div class="container">
                <div class="tutorial-content">
                    <div class="category-option">
                        <h1 style="text-align: center;font-size: 70px;" class="title">Hướng dẫn Thanh Toán</h1>
                    </div>
                    <div>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            1. Thanh Toán qua thẻ của tôi
                        </p>

                        <p style="font-size: 25px; margin-top: 10px;">
                            Bạn cần có thẻ Visa credit, Master credit để thanh toán bằng hình thức này. Các bước thực hiện khá đơn giản: Chọn thẻ credit bạn đã thêm tại Thẻ của tôi hoặc Thêm thẻ để thanh toán
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            2. Thanh Toán trực tiếp & Ví điện tử
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Bạn cần có tài khoản 1 trong 2 ví điện tử phía dưới để thanh toán bằng hình thức này. Các bước thực hiện khá đơn giản: Chọn 1 trong 2 ví điện tử Momo hoặc VNPay - Bấm thanh toán để chuyển đến ví điện tử - Nhập các thông tin tài khoản hoặc quét mã thanh toán.
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            3. Thanh Toán qua thẻ tín dụng/ thẻ ghi nợ VISA, Master
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Bạn cần có thẻ Visa, Master để thanh toán bằng hình thức này. Các bước thực hiện khá đơn giản: Chọn cổng thanh toán - Bấm thanh toán để chuyển đến cổng thanh toán - Nhập các thông tin trên thẻ và hoàn tất quá trình thanh toán.
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            4. Thanh Toán qua thẻ ATM đã đăng kí thanh toán trực tuyến
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Thẻ của bạn phải đăng ký dịch vụ thanh toán trực tuyến với ngân hàng để thực hiện thanh toán bằng hình thức này.
                            <br>
                            Chọn cổng thanh toán VNPay - Bấm thanh toán để chuyển đến cổng thanh toán - Nhập các thông tin trên thẻ và hoàn tất quá trình thanh toán.
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            5. Thanh toán bằng hình thức chuyển khoản ngân hàng
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Trước tiên, bạn cần bấm "Đặt xe" để xác nhận hình thức thanh toán chuyển khoản. Sau đó, tiến hành chuyển khoản qua tài khoản ngân hàng của N1bikerent trong thời gian sớm nhất bạn nhé.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
</body>
</html>