@model DoAnMonLapTrinhWeb_Nhom1.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>Đổi mật khẩu</h1>
</div>

<div class="content">
    <div class="modal__container js-modal-container">
        <div style="padding:32px" class="modal__body-infor">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.TaiKhoan.Email" />

                <div class="form-group">
                    <label class="col-md-3 control-label modal__lable">Mật khẩu cũ</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control modal__input" name="OldPassword" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label modal__lable">Mật khẩu mới</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control modal__input" name="NewPassword" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label modal__lable">Nhập lại mật khẩu mới</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control modal__input" name="ConfirmPassword" required />
                    </div>
                </div>

                <input type="submit" value="Đổi mật khẩu" class="btn modal__btn"></input>
            </form>
        </div>
    </div>
</div>

