<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assects/css/style.css">
    <link rel="stylesheet" href="accsets/font/themify-icons-font/themify-icons/themify-icons.css">
    <script src="https://kit.fontawesome.com/4d0a41491c.js" crossorigin="anonymous"></script>
    <title>N1Bikerent</title>
</head>
<body>
        <div class="banner-section">
            <div class="container">
                <div class="background">
                    <h1 style="font-size: 3rem; margin-left: 100px;" class="background__title text-center">Hướng Dẫn & Quy Chế</h1>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 50px;" class="tutorial-page">
            <div class="container">
                <div class="tutorial-content">
                    <div class="category-option">
                        <h1 style="margin-top: 10px;text-align: center;font-size: 70px;" class="title">Quy chế hoạt động</h1>
                    </div>
                    <div>
                        <h2 style="font-size: 40px;"> I. Nguyên tắc chung</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Thương nhân, tổ chức, cá nhân tham gia giao dịch tại Sàn giao dịch tự do thỏa thuận trên cơ sở tôn trọng quyền và lợi ích hợp pháp của các bên tham gia hoạt động cung ứng và sử dụng dịch vụ không trái với qui định của Pháp luật.
                            <br>
                            Thông tin về thương nhân, tổ chức, cá nhân tham gia là Thành viên của N1Bikerent phải minh bạch và chính xác.
                            <br>
                            Dịch vụ được giới thiệu trên Sàn giao dịch phải đáp ứng đầy đủ các quy định của Pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của Pháp luật.
                            <br>
                            Tất cả các nội dung trong Quy chế này phải tuân thủ theo hệ thống Pháp luật hiện hành của Việt Nam. Thành viên khi tham gia vào Sàn giao dịch phải tự tìm hiểu trách nhiệm pháp lý của mình đối với Pháp luật hiện hành của Việt Nam và cam kết thực hiện đúng những nội dung trong Quy chế của Sàn giao dịch.
                        </p>

                        <h2 style="font-size: 40px;">II. Quy định chung</h2>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            1. Định nghĩa chung
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Người bán (Chủ xe/Đối tác): là thương nhân, tổ chức, cá nhân có nhu cầu sử dụng dịch vụ của N1bikerent để: giới thiệu xe cho thuê, dịch vụ cho thuê xe…
                            <br>
                            Người mua (Khách thuê xe/Khách hàng): là thương nhân, tổ chức, cá nhân có nhu cầu tìm hiểu thông tin và sử dụng dịch vụ được đăng trên website của N1bikerent.
                            <br>
                            Thành viên: là bao gồm cả Người bán (Chủ xe) lẫn Người mua (Khách hàng). Thành viên tham gia giao dịch trên Sàn giao dịch là thương nhân, tổ chức, cá nhân có nhu cầu thuê và cho thuê trên website N1Bikerent Thành viên phải đăng ký kê khai ban đầu các thông tin cá nhân có liên quan, được Ban Quản lí công nhận và được phép sử dụng dịch.
                            <br>
                            Sản phẩm/Dịch vụ: là dịch vụ cho thuê xe ô tô được giao dịch trên website N1bikerent.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            2. Điều khoản sử dụng
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Khi tham gia hoạt động trên website N1bikerent có nghĩa là Thành viên đồng ý với các điều khoản dưới đây.
                            <br>
                            Các điều kiện, điều khoản và nội dung tại Sàn giao dịch và hợp đồng phát sinh bị chi phối và được hiểu theo Luật pháp của Việt Nam. Toàn bộ tranh chấp phát sinh bởi Điều khoản sử dụng này sẽ được giải quyết bởi Tòa án có thẩm quyền tại Việt Nam.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            3. Chấp nhận đơn hàng và giá cả
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Giá cả dịch vụ tại Sàn giao dịch là giá đã bao gồm thuế Giá trị gia tăng (VAT). Giá cả của dịch vụ có thể thay đổi tùy thời điểm và chương trình khuyến mãi kèm theo.
                            <br>
                            Công ty có quyền từ chối hoặc hủy hợp đồng của Khách hàng vì bất kỳ lý do gì liên quan đến lỗi kỹ thuật, hệ thống một cách khách quan vào bất kỳ lúc nào.
                            <br>
                            Công ty cam kết sẽ cung cấp thông tin giá cả chính xác nhất cho Khách hàng. Mặc dù Công ty cố gắng tốt nhất để bảo đảm rằng tất cả các thông tin và giá hiển thị là chính xác, tuy nhiên, đôi lúc vẫn có sai sót xảy ra, tùy theo từng trường hợp Công ty sẽ liên hệ hướng dẫn hoặc thông báo hủy hợp đồng đó và hoàn tiền cho Khách hàng.
                            <br>
                            Công ty cũng có quyền từ chối hoặc hủy bỏ bất kỳ hợp đồng nào dù hợp đồng đó đã hay chưa được xác nhận hoặc đã thanh toán.
                        </p>
                        <h2 style="font-size: 40px;">III. Quy trình giao dịch</h2>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            1. Quy trình dành cho người mua (khách hàng)
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Để thuê xe trên Sàn giao dịch, Khách hàng vào website N1bikerent và thực hiện các bước sau:
                            <br>
                            Bước 1: Khách hàng truy cập vào website N1bikerent và đăng nhập vào tài khoản của mình, nếu Khách hàng chưa có tài khoản thì có thể đăng ký tạo tài khoản bằng Email, Facebook hoặc tài khoản Google.
                            <br>
                            Bước 2: Tìm kiếm – Nhập địa điểm và khoảng thời gian Khách hàng muốn thuê xe, sau đó chọn tìm kiếm.
                            <br>
                            Bước 3: Chọn xe – Sau khi chọn tìm kiếm, trên website sẽ hiển thị các kết quả tìm kiếm, Khách hàng sẽ thấy được danh sách xe phù hợp tiêu chí tìm kiếm cùng với hình ảnh xe, giá thuê, điểm rating của các khách thuê xe trước đó. Khách hàng có thể điều chỉnh thời gian thuê và lọc kết quả tìm kiếm theo các tiêu chí khác nhau để có được danh sách xe phù hợp theo ý Khách hàng. Sau đó Khách hàng lựa chọn xe ưng ý để xem chi tiết hơn hình ảnh xe, mô tả xe, giá thuê xe, khuyến mãi, hình thức giao nhận xe, thông tin Người bán (Chủ xe), điểm rating của xe và Chủ xe...
                            <br>
                            Bước 4: Đặt xe – Sau khi xem thông tin chi tiết xe và xác định được xe phù hợp, Khách hàng có thể lựa chọn phương thức giao nhận và tiến hành Yêu cầu thuê xe.
                            <br>
                            Sau khi Yêu cầu thuê xe được duyệt, khách hàng thực hiện thanh toán tiền cọc 30% tổng số tiền hiển thị trên hóa đơn thanh toán. Sau khi đã đặt xe thành công, N1bikerent sẽ gửi biên nhận điện tử (E-receipt) (xác nhận lại các thời gian hành trình, thông tin xe, giá thuê, số tiền đã đặt cọc, số tiền còn lại cần thanh toán trực tiếp cho Chủ xe) cùng với Mã chuyến đi qua địa chỉ email của Khách hàng. Chủ xe cũng sẽ nhận được biên nhận điện tử để bảo đảm sẽ thực hiện đầy đủ các thỏa thuận đã cam kết với Khách hàng.
                            <br>
                            Trước thời điểm thuê xe 1-2 ngày, N1bikerent sẽ liên hệ với Khách hàng và Chủ xe để xác nhận lại các nội dung trong biên nhận điện tử để đảm bảo việc thuê xe sẽ diễn ra như kế hoạch. Khi đến thời điểm thuê xe, Khách hàng sẽ đến địa điểm của Chủ xe để nhận xe hoặc Chủ xe sẽ đưa xe đến trực tiếp địa chỉ của Khách hàng tùy theo phương phức giao nhận Khách hàng đã lựa chọn khi đặt xe.
                            <br>
                            Trước khi giao xe, Khách hàng và Chủ xe sẽ kí Hợp đồng thuê xe và Biên bản bàn giao xe, Khách hàng cần kiểm tra kĩ tình trạng xe (bên ngoài và nội thất) trước khi kí Biên bản bàn giao xe (ở mục "Tình trạng xe khi nhận"). Hợp đồng thuê xe và Biên bản bàn giao xe được lập thành 2 bản, Chủ xe và Khách hàng mỗi bên giữ 1 bản. Sau khi thực hiện xong Hợp đồng, Khách hàng cùng Chủ xe sẽ xác nhận lại tình trạng xe. Khách hàng đề nghị Chủ xe kí vào Biên bản bàn giao xe (ở mục "Tình trạng xe khi hoàn trả") để làm bằng chứng đã hoàn trả xe đúng nguyên trạng, dư phòng trong trường hợp có tranh chấp. Khách hàng sau đó sẽ thanh toán số tiền còn lại với Chủ xe kể cả phần phát sinh.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            2. Quy trình dành cho người bán (chủ xe)
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Các thông tin đăng ký được yêu cầu phải đầy đủ, đúng chính tả, thống nhất với nhau, không vi phạm về đăng tin nói chung. Thông tin đăng ký phải trung thực, rõ ràng, không gây nhầm lẫn hoặc hiểu lầm đối với người xem về uy tín cho thuê xe cũng như các thông tin nhận biết khác. Để đăng kí thông tin xe lên Sàn giao dịch, Người bán (Chủ xe) thực hiện theo hướng dẫn dưới đây:
                            <br>
                            Bước 1: Trước tiên người bán truy cập vào website N1bikerent, click chuột vào nút “Đăng kí”. Hoặc có thể dùng các tài khoản Facebook, Google để đăng ký.
                            <br>
                            Bước 2: Tiến hành khai thông tin cá nhân theo mẫu hướng dẫn.
                            <br>
                            Bước 3: Đăng tải thông tin xe cho thuê
                            <br>
                            Chủ xe gửi thông tin xe cho thuê đến bộ phận kiểm duyệt nội dung để bộ phận này tiến hành đăng tải thông tin hộ thì bộ phận kiểm duyệt thông tin sẽ tiến hành xác minh, xác thực lại nội dung sẽ đăng. Những nội dung vi phạm bộ phận kiểm duyệt sẽ từ chối không đăng tải lên website.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            3. Quy trình nhận dịch vụ
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Khi đến thời điểm thuê xe, Khách hàng sẽ đến địa điểm của Chủ xe để nhận xe hoặc Chủ xe sẽ đưa xe đến trực tiếp địa chỉ của Khách hàng tùy theo phương phức giao nhận Khách hàng đã lựa chọn khi đặt xe.
                            <br>
                            Trước khi giao xe, Khách hàng và Chủ xe sẽ kí Hợp đồng thuê xe và Biên bản bàn giao xe, Khách hàng cần kiểm tra kĩ tình trạng xe (bên ngoài và nội thất) trước khi kí Biên bản bàn giao xe.
                            <br>
                            Trong quá trình thực hiện nếu xảy ra tranh chấp thì Khách hàng và Chủ xe chủ động liên hệ với nhau để giải quyết các vấn đề dựa trên các điều khoản của Hợp đồng thuê xe đã ký. Công ty sẽ hỗ trợ 2 bên trong khả năng của mình.
                            <br>
                            Sau khi thực hiện xong Hợp đồng thuê xe, Khách hàng cùng Chủ xe xác nhận lại tình trạng xe, cả 2 bên cùng kí vào Biên bản bàn giao xe (ở mục "Tình trạng xe khi hoàn trả") và mỗi bên giữ lại 1 bản để làm bằng chứng đã hoàn trả xe đúng nguyên trạng, dư phòng trong trường hợp có tranh chấp.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            4. Quy trình hủy dịch vụ
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Khi muốn hủy chuyến đi đã đặt cọc, Khách hàng thực hiện theo các bước sau đây:
                            <br>
                            -Bước 1: Thông báo tới Sàn giao dịch về việc thay đổi chuyến đi bằng các cách:
                            <br>
                            Truy cập vào website N1bikerent, đăng nhập vào tài khoản của Khách hàng, vào mục "Thông báo", chọn "Sắp tới", Khách hàng sẽ thấy danh sách các chuyến đi sắp tới đã đã đặt cọc, chọn chuyến đi cần hủy, chọn Hủy và xác nhận để gửi "Yêu cầu hủy chuyến" đến chủ xe.
                            <br>
                            Gửi tin nhắn đến Bộ phận Chăm sóc Khách hàng để được hỗ trợ.
                            <br>
                            -Bước 2: Bộ phận Chăm sóc Khách hàng sẽ liên hệ với phía Chủ xe, xác nhận thông tin hủy chuyến và tính phí vi phạm (nếu có), gửi thông tin qua mail cho Khách hàng đồng thời gửi thông tin tới Chủ xe.
                            <br>
                            -Bước 3: Hoàn trả tiền cho Khách hàng sau khi cấn trừ tiền đặt cọc với phí hủy chuyến và phí chuyển khoản.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
</body>
</html>