
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}
<div style="text-align:center">
    <h1>Chào mừng bạn đến với trang quản lý</h1>
    <h1 style="font-size:60px; color:#5fcf86">N1Bikerent</h1>
</div>


