@model DoAnMonLapTrinhWeb_Nhom1.ViewModels.UserViewModel;
@{
    ViewData["Title"] = "forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex; align-items:center; justify-content:center; flex-direction:column;" class="content">
    <h1>forgotpassword</h1>
    <form class="form form-horizontal" asp-action="forgotpassword" asp-controller="Home" method="POST">
        <div class="form-group">
            <label asp-for="Register.Email" class="col-md-3 control-label modal__lable"></label>
            <div class="col-md-9">
                <input class="form-control modal__input" asp-for="Register.Email" placeholder="Nhập tên Email" autofocus required />
                <span asp-validation-for="Register.Email" class="textdanger"></span>
                <button type="submit" class="btn modal__btn">Continue</button>
            </div>
        </div>
    </form>
</div>



