<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assects/css/style.css">
    <link rel="stylesheet" href="accsets/font/themify-icons-font/themify-icons/themify-icons.css">
    <script src="https://kit.fontawesome.com/4d0a41491c.js" crossorigin="anonymous"></script>
    <title>N1Bikerent</title>
</head>
<body>
        <div class="banner-section">
            <div class="container">
                <div class="background">
                    <h1 style="font-size: 3rem; margin-left: 100px;" class="background__title text-center">Chính sách & Quy định</h1>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 50px;" class="tutorial-page">
            <div class="container">
                <div class="tutorial-content">
                    <div class="category-option">
                        <h1 style="text-align: center;font-size: 70px;" class="title">Chính Sách & Quy Định</h1>
                    </div>
                    <div>
                        <h2 style="font-size: 40px;"> 1. Trách nhiệm của khách thuê xe và chủ xe trong giao dịch cho thuê xe tự lái</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Mục đích lâu dài của N1bikerent là hướng đến việc xây dựng cộng đồng chia sẻ xe Mô Tô, xe gắn máy văn minh và uy tín tại Việt Nam. Vì thế, để đảm bảo các giao dịch thuê xe trong cộng đồng được diễn ra một cách thuận lợi và thành công tốt đẹp thì việc quy định trách nhiệm của các bên trong tuân thủ các chính sách của N1bikerent và các điều khoản cam kết là rất quan trọng.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            A. Trách nhiệm của chủ xe
                            <br>
                            - Giao xe và toàn bộ giấy tờ liên quan đến xe đúng thời gian và trong tình trạng an toàn, vệ sinh sạch sẽ nhằm đảm bảo chất lượng dịch vụ.
                            <br>
                            - Các giấy tờ xe liên quan bao gồm: giấy đăng ký xe (bản photo công chứng), giấy kiểm định, giấy bảo hiểm xe (bản photo công chứng hoặc bản gốc).
                            <br>
                            - Chịu trách nhiệm pháp lý về nguồn gốc và quyền sở hữu của xe
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            B. Trách nhiệm khách thuê xe
                            <br>
                            - Kiểm tra kỹ xe trước khi nhận và trước khi hoàn trả xe. Kí xác nhận biên bản bàn giao về tình trạng xe khi nhận và khi hoàn trả.
                            <br>
                            - Thanh toán đầy đủ tiền thuê xe cho Chủ xe khi nhận xe.
                            <br>
                            - Tuân thủ quy định và thời gian trả xe như 2 bên đã thỏa thuận.
                            <br>
                            - Chịu trách nhiệm đền bù mọi thất thoát về phụ tùng, phụ kiện của xe, đền bù 100% theo giá phụ tùng chính hãng nếu phát hiện phụ tùng bị tráo đổi, chịu 100% chi phí sửa chữa xe nếu có xảy ra hỏng hóc tùy theo mức độ hư tổn của xe, chi phí các ngày xe nghỉ không chạy được do lỗi của khách thuê xe (giá được tính bằng giá thuê trong hợp đồng) và các khoản phí vệ sinh xe nếu có.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom:10px;" class="Appendix">
                            C. Trách nhiệm và khuyến nghị của N1Bikerent
                            <br>
                            - N1Bikerent khuyến nghị Chủ xe và Khách thuê xe cần thực hiện việc giao kết bằng văn bản "Hợp đồng cho thuê xe tự lái" cũng như kí kết "Biên bản bàn giao xe" nhằm đảm bảo quyền lợi của cả 2 bên trong trường hợp phát sinh tranh chấp.
                            <br>
                            - Chủ xe có thể tham khảo sử dụng mẫu "Hợp đồng thuê xe tự lái" và "Biên bản bàn giao xe" của N1bikerent (vui lòng cung cấp email cho bộ phận CSKH của N1bikerent để nhận thông tin).
                            <br>
                            Chủ xe và khách thuê xe tự chịu toàn bộ trách nhiệm dân sự và hình sự nếu có phát sinh tranh chấp giữa hai bên nếu có. N1bikerent chỉ đóng vai trò hỗ trợ hai bên dàn xếp các vấn đề một cách tốt đẹp nhất, tuân theo các điều khoản, chính sách và quy chế hoạt động cả hai bên đã cam kết với N1bikerent.
                        </p>
                        <h2 style="font-size: 40px;">2. Trách nhiệm của N1bikerent trong các trường hợp xảy ra sự cố ngoài ý muốn như xe bị cầm cố, thế chấp, bị bắt giữ khi được dùng để vận chuyển ma túy, hàng quốc cấm, hoặc gây tai nạn</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Hiện tại, N1bikerent chỉ đóng vai trò là sàn giao dịch thương mại điện tử về cho thuê xe ô tô, là cầu nối giữa các chủ xe và khách hàng có nhu cầu thuê xe. Về cơ bản, mọi thủ tục và toàn bộ các vấn đề phát sinh liên quan đến giao dịch cho thuê xe giữa chủ xe và khách thuê sẽ do hai bên tự thỏa thuận, kí hợp đồng và chịu trách nhiệm với nhau.
                            <br>
                            Trong trường hợp có xảy ra sự cố ngoài ý muốn như xe bị cầm cố, thế chấp, bị bắt khi được dùng để vận chuyển ma túy, hàng quốc cấm hoặc gây ra tai nạn, N1bikerent sẽ cố gắng hỗ trợ tốt nhất các chủ xe trong khả năng của mình, giới hạn ở việc hướng dẫn chủ xe các thủ tục cần thiết để trình báo với cơ quan công an và các cơ quan có thẩm quyền, cung cấp các thông tin nếu có liên quan đến thành viên thuê xe hoặc các thông tin khác nếu có yêu cầu từ cơ quan chức năng, và tiến hành khóa vĩnh viễn tài khoản thành viên vi phạm.
                            <br>
                            Để bảo vệ tốt nhất tài sản của mình và giảm thiểu tối đa các rủi ro có thể xảy ra, các chủ xe cần ràng buộc chặt chẽ về mặt pháp lí bằng việc giao kết bằng văn bản "Hợp đồng cho thuê xe tự lái", "Biên bản bàn giao xe" (có thể tham khảo sử dụng mẫu hợp đồng và biên bản bàn giao do N1bikerent đề xuất hoặc có thể sử dụng mẫu riêng của nhà xe), xác minh đầy đủ thông tin và các giấy tờ cá nhân của khách thuê, giữ lại tài sản đặt cọc và các giấy tờ cần thiết (và tuyệt đối không giao cà vẹt xe bản chính cho khách thuê). Các chủ xe cũng cần trang bị cho xe thiết bị định vị GPS để có thể theo dõi và kiểm tra vị trí xe thường xuyên nhằm có các phương án xử lí kịp thời.
                            <br>
                            Thời gian tới, nhằm bảo vệ một cách toàn diện nhất quyền lợi của các chủ xe cũng như khách thuê, N1bikerent đang xúc tiến làm việc với các đối tác bảo hiểm để triển khai các sản phẩm bảo hiểm đối với dịch vụ thuê xe tự lái theo ngày, áp dụng cho tất cả các giao dịch cho thuê được thực hiện thông qua ứng dụng N1bikerent.
                            <br>
                            N1bikerent hy vọng sẽ sớm hoàn thiện và triển khai gói giải pháp này trong thời gian sớm nhất.
                        </p>
                        <h2 style="font-size: 40px;">3. Chính sách giá</h2>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            A. Dành cho khách thuê xe
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Trên ứng dụng N1bikerent, mỗi dòng xe sẽ được cho thuê tại các mức giá khác nhau tùy thuộc vào sự quyết định của các chủ xe và được niêm yết công khai.
                            <br>
                            Về cơ bản, cơ cấu giá của một chuyến đi được tính bao gồm các thành phần:
                            <br>
                            - Đơn giá thuê: Là giá thuê niêm yết bởi chủ xe mà bạn dễ dàng nhìn thấy trong phần thông tin xe. Giá thuê trên N1bikerent được tính theo đơn vị nhỏ nhất là ngày. Chủ xe có thể điều chỉnh giá thuê khác nhau cho từng ngày, chính vì vậy, chi phí thuê xe của bạn có thể tăng hoặc giảm tùy vào thời điểm bạn thuê xe. Thông thường, giá thuê sẽ cao hơn trong dịp cuối tuần và các ngày lễ, tết.
                            <br>
                            - Chiết khấu: một số chủ xe có chính sách chiết khấu cho các chuyến xe kéo dài 1 tuần hoặc 1 tháng (mức chiết khấu bình quân từ 5-20% tùy vào quyết định của chủ xe). Vì thế, nếu bạn có nhu cầu thuê xe du lịch hay công tác dài ngày, hãy ưu tiên lựa chọn các chủ xe này để có được mức giá tốt hơn.
                            <br>
                            - Chi phí vận chuyển: nếu bạn không có nhiều thời gian để đến trực tiếp địa diểm của chủ xe để nhận xe, bạn có thể lựa chọn các chủ xe có cung cấp thêm dịch vụ giao xe tận nơi. Chi phí giao nhận xe bình quân từ 5,000-15,000VND/km tùy vào quyết định của chủ xe được thể hiện tại phần thông tin xe và sẽ được cộng vào chi phí thuê xe của bạn.
                            <br>
                            - Mã khuyến mãi: là mã giảm giá mà N1bikerent gửi tặng đến các thành viên của mình cho trong các đợt khuyến mãi, hoặc dành cho các thành viên thân thiết giao dịch thường xuyên trên ứng dụng N1Bikerent. Mã khuyến mãi này sẽ được trừ trực tiếp vào chi phí thuê xe của bạn.
                        </p>
                        <p style="font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            B. Dành cho Chủ xe
                        </p>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Các chủ xe của N1bikerent được quyền thiết lập giá thuê xe hàng ngày cho tháng hiện hành và tối đa 3 tháng kế tiếp. Bạn có thể sử dụng giá đề xuất của N1bikerent hoặc có thể tùy chỉnh giá cho thuê theo mong muốn của bạn.
                            <br>
                            - Giá đề xuất của N1bikerent: được định vị thấp hơn 10% so với giá thuê xe bình quân trên thị trường. Mức giá này được tiến hành khảo sát hàng tháng bởi bộ phận phát triển thị trường của N1bikerent đối với từng dòng xe khác nhau.
                        </p>
                        <h2 style="font-size: 40px;">4. Chính sách thanh toán</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Sau khi nhận được sự đồng ý cho thuê xe từ phía chủ xe, tại bước cuối cùng, bạn cần phải đặt cọc trước cho N1bikerent 30% tổng chi phí chuyến đi. Bạn có thể chọn lựa hình thức thanh toán chuyển khoản qua ngân hàng trực tuyến hoặc sử dụng thẻ Visa.
                            <br>
                            Phần còn lại 70% bạn có thể thanh toán trực tiếp cho chủ xe ngay khi nhận được xe.
                        </p>
                        <h2 style="font-size: 40px;">5. Chính sách thời gian giao nhận</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Thời gian thuê xe mặc định trong hệ thống được thiết lập từ 9h tối đến 8h tối ngày kế tiếp. Tuy nhiên, khách hàng cũng có thể tùy chỉnh lựa chọn thời gian thuê xe theo nhu cầu của mình, trong vòng 24 tiếng sẽ được tính 1 ngày.
                        </p>
                        <h2 style="font-size: 40px;">6. Chính sách kết thúc sớm chuyến đi</h2>
                        <p style="font-size: 30px; margin-top: 10px;">
                            Trong trường hợp bạn muốn kết thúc sớm chuyến đi của mình khi vẫn chưa đến thời hạn trả xe, để có thể được hoàn lại tiền cho các ngày chưa sử dụng, bạn nên trao đổi trước với chủ xe và cần phải nhận được sự đồng ý từ phía chủ xe. Số tiền được hoàn lại sẽ do bạn và chủ xe tự thỏa thuận với nhau. Lưu ý rằng, bạn sẽ không được hoàn lại số tiền bạn đã đặt cọc cho N1bikerent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
</body>
</html>