<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assects/css/style.css">
    <link rel="stylesheet" href="accsets/font/themify-icons-font/themify-icons/themify-icons.css">
    <script src="https://kit.fontawesome.com/4d0a41491c.js" crossorigin="anonymous"></script>
    <title>N1Bikerent</title>
</head>
<body>
        <div class="banner-section">
            <div class="container">
                <div class="background">
                    <h1 style="font-size: 3rem; margin-left: 100px;" class="background__title text-center">Hướng dẫn & Quy chế</h1>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 50px;" class="tutorial-page">
            <div class="container">
                <div class="tutorial-content">
                    <div class="category-option">
                        <h1 style="text-align: center;font-size: 70px;" class="title">Hướng dẫn đặt xe</h1>
                    </div>
                    <div>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px; margin-bottom: 10px;" class="Appendix">
                            Quy trình dành cho người thuê xe:
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px;">
                            Bước 1:
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Khách hàng truy cập vào website N1bikerent và đăng nhập vào tài khoản của mình, nếu Khách hàng chưa có tài khoản thì có thể đăng ký tạo tài khoản bằng Email, Facebook hoặc tài khoản Google.
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px;">
                            Bước 2:
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Tìm kiếm – Nhập địa điểm và khoảng thời gian Khách hàng muốn thuê xe, sau đó chọn tìm kiếm.
                        </p>

                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px;">
                            Bước 3:
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Chọn xe – Sau khi chọn tìm kiếm, trên website sẽ hiển thị các kết quả tìm kiếm, Khách hàng sẽ thấy được danh sách xe phù hợp tiêu chí tìm kiếm cùng với hình ảnh xe, giá thuê, điểm rating của các khách thuê xe trước đó. Khách hàng có thể điều chỉnh thời gian thuê và lọc kết quả tìm kiếm theo các tiêu chí khác nhau để có được danh sách xe phù hợp theo ý Khách hàng. Sau đó Khách hàng lựa chọn xe ưng ý để xem chi tiết hơn hình ảnh xe, mô tả xe, giá thuê xe, khuyến mãi, hình thức giao nhận xe, thông tin Người bán (Chủ xe), điểm rating của xe và Chủ xe...
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px;">
                            Bước 4:
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Đặt xe – Sau khi xem thông tin chi tiết xe và xác định được xe phù hợp, Khách hàng có thể lựa chọn phương thức giao nhận và tiến hành Yêu cầu thuê xe.
                        </p>
                        <p style="font-weight: 600;font-size: 30px; margin-top: 10px;">
                            Bước 5:
                        </p>
                        <p style="font-size: 25px; margin-top: 10px;">
                            Sau khi Yêu cầu thuê xe được duyệt, khách hàng thực hiện thanh toán tiền cọc 30% tổng số tiền hiển thị trên hóa đơn thanh toán. Sau khi đã đặt xe thành công, N1bikerent sẽ gửi biên nhận điện tử (E-receipt) (xác nhận lại các thời gian hành trình, thông tin xe, giá thuê, số tiền đã đặt cọc, số tiền còn lại cần thanh toán trực tiếp cho Chủ xe) cùng với Mã chuyến đi qua địa chỉ email của Khách hàng. Chủ xe cũng sẽ nhận được biên nhận điện tử để bảo đảm sẽ thực hiện đầy đủ các thỏa thuận đã cam kết với Khách hàng.
                            <br>
                            Trước thời điểm thuê xe 1-2 ngày, N1bikerent sẽ liên hệ với Khách hàng và Chủ xe để xác nhận lại các nội dung trong biên nhận điện tử để đảm bảo việc thuê xe sẽ diễn ra như kế hoạch. Khi đến thời điểm thuê xe, Khách hàng sẽ đến địa điểm của Chủ xe để nhận xe hoặc Chủ xe sẽ đưa xe đến trực tiếp địa chỉ của Khách hàng tùy theo phương phức giao nhận Khách hàng đã lựa chọn khi đặt xe.
                            <br>
                            Trước khi giao xe, Khách hàng và Chủ xe sẽ kí Hợp đồng thuê xe và Biên bản bàn giao xe, Khách hàng cần kiểm tra kĩ tình trạng xe (bên ngoài và nội thất) trước khi kí Biên bản bàn giao xe (ở mục "Tình trạng xe khi nhận"). Hợp đồng thuê xe và Biên bản bàn giao xe được lập thành 2 bản, Chủ xe và Khách hàng mỗi bên giữ 1 bản. Sau khi thực hiện xong Hợp đồng, Khách hàng cùng Chủ xe sẽ xác nhận lại tình trạng xe. Khách hàng đề nghị Chủ xe kí vào Biên bản bàn giao xe (ở mục "Tình trạng xe khi hoàn trả") để làm bằng chứng đã hoàn trả xe đúng nguyên trạng, dư phòng trong trường hợp có tranh chấp. Khách hàng sau đó sẽ thanh toán số tiền còn lại với Chủ xe kể cả phần phát sinh.
                        </p>

                    </div>
                </div>
            </div>
        </div>
       
</body>
</html>